/*https://uigradients.com/#RedSunset
https://uigradients.com/#SandtoBlue
https://uigradients.com/#Terminal*/


/*
    need to add bold fonts when a certain button is being run
*/
body {
    background-image: linear-gradient(#0f0c29, #302b63, #24243e);
    background-size: cover;
    height: 100vh;
    color: #cbd9f5;
}

.container {
    width: 475px;
    margin: 0 auto;
}

.timer-container {
    background: #4c477f;
    padding-bottom: 1em;
}

#pomodoro {
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

#pomodoro > p {
    padding: 0.25em 0.5em;
    margin-bottom: 0;
}

#pomodoro > p:hover,
button:hover {
    cursor: pointer;
}

.pomodoro-active {
    background: #302b63;
    font-weight: bold;
}

#timer > h1 {
    font-size: 4rem;
    text-align: center;
}

button {
    font-size: 1rem;
    padding: 0.3em 1em;
    color: #b4c2e0;
}

.buttons {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#start {
    background:darkgreen;
    /*font-weight: bold;*/
}

#stop {
    background: rgba(150, 0 ,0);
    padding-left: 1.55em;
    padding-right: 1.5em;
}

#reset {
    background: #000099;
    margin-right: 4px;
}